CIFS_MOUNT_OPTS=vers=3.0,username=YOUR_USER,password=YOUR_PASSWORD,addr=YOUR_NAS_IP,file_mode=0777,dir_mode=0777,iocharset=utf8,rw
CIFS_DEVICE=//YOUR_NAS_IP/YOUR_SHARE

NPM_DB_USER=npm
NPM_DB_PASSWORD=change_me
NPM_DB_NAME=npm

MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=npm
MYSQL_USER=npm
MYSQL_PASSWORD=change_me

GLOBAL_TZ=America/Los_Angeles
RADARR_PUID=1000
RADARR_PGID=1000
SONARR_PUID=1000
SONARR_PGID=1000
WATCHTOWER_DISCORD_URL=discord://YOUR_DISCORD_WEBHOOK_TOKEN@YOUR_DISCORD_WEBHOOK_ID
